.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 30px;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trim {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
