@font-face {
  font-family: 'icon-font';
  src: url('./../icon-font/icon-font.eot?raef7j');
  src: url('./../icon-font/icon-font.eot?raef7j#iefix') format('embedded-opentype'),
    url('./../icon-font/icon-font.ttf?raef7j') format('truetype'),
    url('./../icon-font/icon-font.woff?raef7j') format('woff'),
    url('./../icon-font/icon-font.svg?raef7j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon-checked:before {
  content: "\e900";
}

.icon-arrow-down:before {
  content: "\e901";
}

.icon-trash:before {
  content: "\e902";
}